.app{
    background-color: #f1f2f5;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    min-width: 1440px;

}

.app__body{
    display: flex;
    justify-content: space-between;
}
