.contacts{
    padding-right: 10px;
}

.contacts__top{
    display: flex;
    padding: 30px 10px 5px;
    align-items: center;
    justify-content: space-between;    
}

.contacts__top>h4{
    font-size: medium;
    margin-left: 50px;
    font-weight: bold;
}

.contacts__icons{
    display: flex;
    margin-left: 60px;
}

.contacts__icons > .MuiSvgIcon-root {
    margin: 10px;
}

.contacts__list{
    display: flex;
    align-items: center;
    margin-left: 65px;
    font-size: small;
    padding: 7px 0;
}

.contacts__list > h4 {
    margin-left: 10px;
}